<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.QuestionMapper">
    <select id="selectQuestionList" resultType="com.example.system.model.question.QuestionListVO">
        SELECT
        oj_question.question_id,
        oj_question.title,
        oj_question.difficulty,
        oj_admin.nick_name,
        oj_question.create_time
        FROM oj_question
        LEFT JOIN oj_admin
        ON oj_question.created_by = oj_admin.admin_id
        WHERE oj_question.delete_flag = 0
        <if test="title != null and title != ''">
            AND oj_question.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="difficulty != null">
            AND oj_question.difficulty = #{difficulty}
        </if>
        <if test="selectedQuestionIdSet != null and !selectedQuestionIdSet.isEmpty()">
            <foreach collection="selectedQuestionIdSet" open=" AND oj_question.question_id NOT IN( " close=" )"  item="id" separator=",">
                 #{id}
            </foreach>
        </if>
        ORDER BY
        oj_question.create_time DESC
    </select>

    <select id="selectDeletedQuestionList" resultType="com.example.system.model.question.QuestionDeletedVO">
        SELECT
        oj_question.question_id,
        oj_question.title,
        oj_question.difficulty,
        oj_admin.nick_name,
        oj_question.update_time
        FROM oj_question
        LEFT JOIN oj_admin
        ON oj_question.updated_by = oj_admin.admin_id
        WHERE oj_question.delete_flag = 1
        ORDER BY
        oj_question.update_time DESC
    </select>

</mapper>