body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #3a9adc, #00c2cc);
}
/* 顶部导航栏 */
.nav {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    font-size: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}